{% extends "ppatients_base.html" %} {% block title %}Patients Home{% endblock %} {% block product_active %}active{% endblock %} {% load staticfiles %} {% block body %}
<!--Start Contents-->
<div class="panel panel-default">
    <div class="panel-body">

        {% if messages %} {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button> {{ message }}
        </div>
        {% endfor %} {% endif %}

        <!-- <h3>All Products</h3> -->
        <p style="display:inline-block">
            <a type="submit" class="btn btn-lg btn-primary" href="{% url 'pathologist:ppatients_home' pathologist.id %}">View All</a>
            <!-- <a type="submit" class="btn btn-lg btn-outline-primary" href="{% url 'pathologist:ppatients_home' pathologist.id %}">View Under Tests</a>
            <a type="submit" class="btn btn-lg btn-outline-primary" href="{% url 'pathologist:ppatients_home' pathologist.id %}">With Completed Tests</a> -->
        </p>

        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
        {% endif %}

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>ID</th>
                    <th>Gender</th>
                    <th>Email</th>
                    <th>Actions</th>

                </tr>
            </thead>
            <tbody>
                {% if patients %} {% for product in patients %}
                <tr>
                    <td>{{ product.username }}</td>
                    <td>
                        {{ product.id }}
                    </td>
                    <td>
                        {{ product.gender }}
                    </td>
                    <td>
                        {{ product.email }}
                    </td>
                    <td>
                        {% if product %}
                        <a href="{% url 'pathologist:ppatients_home' product.id %}" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="product_id" value="{{ product.id }}" />
                                <button type="submit" class="btn btn-danger btn-md">
                                    <span class="glyphicon glyphicon-trash"></span>&nbsp; Remove
                                </button>
                            </a> {% endif %} {% if product %}
                        <a href="{% url 'pathologist:ppatients_home' product.id %}" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="product_id" value="{{ product.id }}" />
                                <button type="submit" class="btn btn-primary btn-md">
                                    <span class="glyphicon glyphicon-edit"></span>&nbsp; Edit info
                                </button>
                            </a> {% endif %}
                    </td>
                </tr>
                {% endfor %} {% else %}
                <h3>You don't have any Patients at the moment</h3>
                {% endif %}
            </tbody>
        </table>

    </div>
</div>


<!--End Contents-->
{% endblock %}