{% extends "patients_base.html" %} {% block title %}Specimens Home{% endblock %} {% block product_active %}active{% endblock %} {% load staticfiles %} {% block body %}
<!--Start Contents-->
<div class="panel panel-default">
    <div class="panel-body">

        {% if messages %} {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button> {{ message }}
        </div>
        {% endfor %} {% endif %}

        <!-- <h3>All Products</h3> -->
        <p style="display:inline-block">
            <a type="submit" class="btn btn-lg btn-primary" href="{% url 'doctor:specimen_home' doctor.id %}">View All</a>
            <a type="submit" class="btn btn-lg btn-outline-primary" href="{% url 'doctor:specimen_home' doctor.id %}">View Under Tests</a>
            <a type="submit" class="btn btn-lg btn-outline-primary" href="{% url 'doctor:specimen_home' doctor.id %}">With Completed Tests</a>
        </p>

        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
        {% endif %}

        <table class="table">
            <thead>
                <tr>
                    <th>Reff No.</th>
                    <th>Patient No.</th>
                    <th>Specimen</th>
                    <th>Date</th>
                    <th>Actions</th>

                </tr>
            </thead>
            <tbody>
                {% if specimendata %} {% for product in specimendata %}
                <tr>
                    <td>{{ product.reff }}</td>
                    <td>
                        P00{{ product.patient.id }}
                    </td>
                    <td>
                        {{ product.specimen.specimen_name }}
                    </td>
                    <td>
                        {{ product.timestamp }}
                    </td>
                    <td>
                        {% if product %}
                        <a href="{% url 'doctor:specimen_details' product.id %}" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="product_id" value="{{ product.id }}" />
                                <button type="submit" class="btn btn-info btn-lg">
                                    <span class="glyphicon glyphicon-play"></span>&nbsp; View
                                </button>
                            </a> {% endif %} {% if product.pathologist == "no" %}
                        <a href="{% url 'doctor:send_specimen' product.id %}" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="product_id" value="{{ product.id }}" />
                                <button type="submit" class="btn btn-primary btn-lg">
                                    <span class="glyphicon glyphicon-edit"></span>&nbsp; Send to Pathologist
                                </button>
                            </a> {% endif %} {% if product.pathologist == "yes" %}
                        <a href="#" style="display: inline;">
                                {% csrf_token %}
                                <button disabled="True" type="submit" class="btn btn-primary btn-lg">
                                    <span class="glyphicon glyphicon-edit"></span>&nbsp; Sent to Pathologist
                                </button>
                            </a> {% endif %}
                    </td>
                </tr>
                {% endfor %} {% else %}
                <h3>You don't have any Specimens at the moment</h3>
                {% endif %}
            </tbody>
        </table>

    </div>
</div>


<!--End Contents-->
{% endblock %}