{% extends "doctor_base.html" %} {% block title %}Doctor|Dashboard{% endblock %} {% block home_active %}active{% endblock %} {% load staticfiles %} {% block body %}
<!--Start Contents-->
<main class="main-content bgc-grey-100">
    <div id="mainContent">
        <div class="full-container">
            <div class="email-app">

                <h1 style="margin-top: 40px; text-align: center;color: #2196f3;">Welcome Doctor {{ username }}</h1>
                <hr/>
                <!-- Start Menu Grid Area -->
                <section class="food__menu__grid__area" style="padding-top: 30px; padding-bottom: 30px">
                    <div class="container">
                        <div class="row mt--30">
                            {% for doctor in doctor %}
                            <!-- Start Single Menu Item -->
                            <div class="col-lg-4 col-sm-12 col-md-6" style="padding-bottom: 60px">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <div class="image form-group1">
                                                        <a href="{% url 'doctor:patients_home' doctor.id %}">
                                                            <img src="{% static 'imgs/blood.png' %}" class="img img-responsive">
                                                            <label class="pic-labels">Samples</label>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <div class="image form-group1">
                                                        <a href="{% url 'doctor:patients_home' doctor.id %}">
                                                            <img src="{% static 'imgs/report.png' %}" class="img img-responsive">
                                                            <label class="pic-labels">Reports</label>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-12 col-md-6" style="padding-bottom: 60px">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <div class="image form-group1">
                                                        <a href="{% url 'doctor:specimen_home' doctor.id %}">
                                                            <img src="{% static 'imgs/chemistry.png' %}" class="img img-responsive">
                                                            <label class="pic-labels">Specimen</label>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <div class="image form-group1">
                                                        <a href="{% url 'doctor:patients_home' doctor.id %}">
                                                            <img src="{% static 'imgs/patient.png' %}" class="img img-responsive">
                                                            <label class="pic-labels">Patients</label>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- End Single Menu Item -->
                        {% endfor %}
                    </div>

            </div>
            </section>

        </div>
    </div>
    </div>
</main>

<!--End Contents-->
{% endblock %}