{% extends "products_base.html" %} {% block title %}Add Product{% endblock %} {% block product_active %}active{% endblock %} {% load staticfiles %} {% block body %}
<!--Start Contents-->
<main class="main-content bgc-grey-100">
    <div id="mainContent">
        <div class="full-container">
            <div class="email-app">

                <h3 style="margin-top: 40px; text-align: center;">Pharmacy Name</h3>
                <hr/>

            </div>
        </div>
    </div>
</main>

<!--End Contents-->
{% endblock %}