{% extends "pathologist_base.html" %} {% block title %}Pathologist|Dashboard{% endblock %} {% block home_active %}active{% endblock %} {% load staticfiles %} {% block body %}
<!--Start Contents-->
<main class="main-content bgc-grey-100">
    <div id="mainContent">
        <div class="full-container">
            <div class="email-app">

                <h1 style="margin-top: 40px; text-align: center;color: #2196f3;">Welcome Pathologist {{ username }}</h1>
                <hr/>
                <!-- Start Menu Grid Area -->
                <section class="food__menu__grid__area" style="padding-top: 30px; padding-bottom: 30px">
                    <div class="container">
                        <div class="row mt--30">
                            {% for pathologist in pathologist %}
                            <!-- Start Single Menu Item -->
                            <div class="col-lg-4 col-sm-12 col-md-6" style="padding-bottom: 60px">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="image form-group">
                                                <a href="{% url 'pathologist:samples_home' pathologist.id %}">
                                                    <img src="{% static 'imgs/blood.png' %}" class="img img-responsive">
                                                    <label class="pic-labels">Samples</label>
                                                </a>
                                            </div>

                                        </div>

                                        <div class="col-md-6">
                                            <div class="image form-group">
                                                <a href="{% url 'pathologist:reports_home' pathologist.id %}">
                                                    <img src="{% static 'imgs/report.png' %}" class="img img-responsive">
                                                    <label class="pic-labels">Reports</label>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-12 col-md-6" style="padding-bottom: 60px">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="image form-group">
                                                <a href="{% url 'pathologist:specimen_home' pathologist.id %}">
                                                    <img src="{% static 'imgs/chemistry.png' %}" class="img img-responsive">
                                                    <label class="pic-labels">Specimens</label>
                                                </a>
                                            </div>

                                        </div>

                                        <div class="col-md-6">
                                            <div class="image form-group">
                                                <a href="{% url 'pathologist:lab_home' pathologist.id %}">
                                                    <img src="{% static 'imgs/hospital.png' %}" class="img img-responsive">
                                                    <label class="pic-labels">Laboratory</label>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-12 col-md-6" style="padding-bottom: 60px">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="image form-group">
                                            <a href="{% url 'pathologist:ppatients_home' pathologist.id %}">
                                                <img src="{% static 'imgs/patient.png' %}" class="img img-responsive">
                                                <label class="pic-labels">Patients</label>
                                            </a>
                                        </div>

                                    </div>

                                    <div class="col-md-6">
                                        <div class="image form-group">
                                            <a href="{% url 'pathologist:pdoctors_home' pathologist.id %}">
                                                <img src="{% static 'imgs/doctor.png' %}" class="img img-responsive">
                                                <label class="pic-labels">Doctor</label>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Menu Item -->
                        {% endfor %}
                    </div>

            </div>
            </section>

        </div>
    </div>
    </div>
</main>

<!--End Contents-->
{% endblock %}