#container {
    background-image: url('../img/background.png');
}

main {
    background-image: url('../img/background.png');
}

.header-container {
    background-color: #2196f3;
}

.peer span {
    color: white;
}

.panel {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.panel-default {
    border-color: #ddd;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-body {
    padding: 15px;
}

.full-container {
    background-image: url('../img/background.png');
    background-color: rgb(227, 230, 233);
}

.panel-body h3 {
    color: #2196f3;
}

#savebutton {
    border-radius: 5px;
    font-weight: bold;
    border: none;
    /* padding: 15px 32px; */
    padding: 6px 10px;
    margin: 8px 0;
    text-align: left;
    display: inline-block;
    background-color: green;
    width: 50%;
    text-align: center;
    /* color: white; */
    margin-right: 50%;
}

#savebutton:hover {
    background-color: rgb(5, 238, 13);
    color: white;
}

.form-group {
    margin-left: 20%;
}

.form-group input {
    border-radius: 6px;
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

.form-group #id_address {
    border-radius: 6px;
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    height: 10%;
}


/* .form-group label {
    color: #2196f3;
    font-size: larger; 
    width: 100%;
} */

h2,
h1 {
    color: #2196f3;
}

.logo img {
    height: 50px;
    width: auto;
    margin: auto;
    margin-top: 5px;
    margin-left: 9px;
}

#loader {
    transition: all .3s ease-in-out;
    opacity: 1;
    visibility: visible;
    position: fixed;
    height: 100vh;
    width: 100%;
    background: #fff;
    z-index: 90000
}

#loader.fadeOut {
    opacity: 0;
    visibility: hidden
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(227, 230, 233);
    color: white;
    text-align: center;
}

.spinner {
    width: 40px;
    height: 40px;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1s infinite ease-in-out;
    animation: sk-scaleout 1s infinite ease-in-out
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
}