{% extends "tests_base.html" %} {% block title %}Perform Test Patient Tests Home{% endblock %} {% block tests_active %}active{% endblock %} {% load staticfiles %} {% block body %}


<div class="container-fluid">

    {% if form.errors %} {% for field in form %} {% for error in field.errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %} {% endfor %} {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %} {% endif %} {% if messages %} {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button> {{ message }}
    </div>
    {% endfor %} {% endif %}
    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 style="text-align: center;">Perform New Test</h3><br> {% if error_message %}
                    <p><strong> error_message </strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %} {% for field in form %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <span class="text-danger small">{{ field.errors }}</span>
                            </div>
                            <label id="pname" class="control-label col-sm-4" for="product_name">{{ field.label_tag }}</label>
                            <div class="col-sm-8" id="pinput">{{ field }}</div>
                        </div>
                        {% endfor %}
                        <button id="savep" type="reset" class="btn btn-outline-danger btn-lg">Cancel</button>
                        <button id="savep" class="btn btn-outline-success btn-lg">Save</button>
                        <!-- <button id="savep" name="q" type="submit" class="btn btn-outline-primary btn-lg">Save & Add New</button> -->
                    </form>

                </div>
            </div>
        </div>

    </div>
    <!-- {% comment %} end of div row {% endcomment %} -->
</div>

<!--End Contents-->
{% endblock %}