{% extends "tests_base.html" %} {% block title %}Perform Tests{% endblock %} {% block tests_active %}active{% endblock %} {% load staticfiles %} {% block body %}
<!--Start Contents-->
<div class="panel panel-default">
    <div class="panel-body">

        {% if messages %} {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button> {{ message }}
        </div>
        {% endfor %} {% endif %}

        <h1 style="color: #2196f3; text-align: center;">Perform Tests</h1>

        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
        {% endif %}

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% if specimendata %}
                <tr>
                    <td>Reff No.</td>
                    <td>{{ specimendata.reff }}</td>
                </tr>

                <tr>
                    <td>Temperature</td>
                    <td>{{ specimendata.temperature }} °C</td>
                </tr>

                <tr>
                    <td>Weight</td>
                    <td>{{ specimendata.weight }} Kgs</td>
                </tr>
                <!--
                <tr>
                    <td>RBC</td>
                    <td>{{ specimendata.specimen.RBC }}</td>
                </tr> -->

                <tr>
                    <td>Doctor</td>
                    <td>{{ specimendata.doctor }}</td>
                </tr>

                <tr>
                    <td>Patient Code</td>
                    <td>P00{{ specimendata.patient.id }}</td>
                </tr>

                <tr>
                    <td>Gender</td>
                    <td>{{ specimendata.specimen.gender }}</td>
                </tr>

                <tr>
                    <td>Age</td>
                    <td>{{ specimendata.specimen.age }}</td>
                </tr>

                <tr>
                    <td>Date Time</td>
                    <td>{{ specimendata.timestamp }}</td>
                </tr>
                {% endif %}
            </tbody>
        </table>

        {% if specimendata.status == "pending" %}
        <!-- <button type="submit" name="submit" class="btn btn-lg btn-primary">Perform Test</button> -->
        <a href="{% url 'pathologist:generate_report' specimendata.id %}" style="display: inline;margin-left: 40%;">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{ specimendata.id }}" />
            <button type="submit" class="btn btn-primary btn-lg">
                <span class="glyphicon glyphicon-save"></span>&nbsp; Perform Test
            </button>
        </a> {% endif %}
    </div>
</div>


<!--End Contents-->
{% endblock %}