{% extends "patient_base.html" %} {% block title %}Patient|Dashboard{% endblock %} {% block home_active %}active{% endblock %} {% load staticfiles %} {% block body %}
<!--Start Contents-->
<main class="main-content bgc-grey-100">
    <div id="mainContent">
        <div class="full-container">
            <div class="email-app">

                <h3 style="margin-top: 40px; text-align: center;color: #2196f3;">Welcome Patient {{ username }}</h3>
                <hr/>
                <!-- Start Menu Grid Area -->
                <section class="food__menu__grid__area" style="padding-top: 30px; padding-bottom: 30px">
                    <div class="container">
                        <div class="row mt--30">
                            {% for patient in patient %}
                            <!-- Start Single Menu Item -->
                            <div class="col-lg-4 col-sm-12 col-md-6" style="padding-bottom: 60px">
                                <div class="menu__grid__item wow fadeInUp">
                                    <div class="menu__grid__thumb">

                                    </div>
                                    <div class="menu__grid__inner">
                                        <div class="menu__grid__details">
                                            <h3>
                                                Hello
                                            </h3>
                                            <ul class="grid__prize__list">
                                                <li>
                                                    <h4>{{patient.username}}</h4>
                                                </li>

                                                <li>
                                                    <h4>{{patient.email}}</h4>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="grid__addto__cart__btn">
                                            <h3><span><a class="btn btn-danger " href="#">more info</a></span></h3>
                                            <!-- <h3><span><a class="btn btn-danger" href="">view catalogue</a></span></h3> -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Menu Item -->
                            {% endfor %}
                        </div>

                    </div>
                </section>

            </div>
        </div>
    </div>
</main>

<!--End Contents-->
{% endblock %}